*{
    padding:0;
    margin:0;
}

.bloque{
    background-color: fuchsia;
    font-size: xx-large;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    min-width: 250px;
    min-height: 250px;
}
.nombre{
    background-color: fuchsia;
    font-size: xx-large;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.box-img{
    background-color: black;
}
.lista{
    background-color: fuchsia;
   text-align: right;
    font-size: medium;
    list-style: none;   
    text-decoration:none;
    text-decoration-line: none;
    text-decoration-skip: none;
    justify-content: space-between;
    font-size: large;
    padding: 80px;
}