*{
    padding:0;
    margin:0;
}

.bloque{
    margin-top: 0%;
    margin-left: auto;
    margin-bottom: 0%;
    margin-right: auto;
    background-color: fuchsia;
    font-size: xx-large;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 250px;
    height: 250px;
    justify-content: center;
    border-top-left-radius: 10%;
}
.nombre{
    width: 250px;
    height: 250px;
    background-color: fuchsia;
    font-family: cursive ;
    font-size: xx-large;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.listas{
    background-color: fuchsia;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-align: right;
    font-size: medium;
    list-style: none;
    list-style-type: none   ;   
    text-decoration:none;
    text-decoration-line: none;
    text-decoration-skip: none;
    justify-content: space-between;
    font-size: large;
}
.titulo{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: xx-large;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration-line: underline;
    }
div.box-img{
    background-color: black;
    border: 5px solid black;
}
div.box-img img{
    width: 100%;
    height: auto;
}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
    margin-left: 20%;
}
.hijos{
    background-image: linear-gradient(fuchsia , pink , white);
    border-style: double;
    margin-top: 1.5vw;
    margin-right: 0.5vw;
    margin-bottom: 1.5vw;
    margin-left: 0.5vw;
    width: 500px;
    height: 200px;
}